# --- PostgreSQL Credentials ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase

# --- Redis ---
REDIS_PASSWORD=password
REDIS_HOST=cache

# --- Database URL for Prisma ---
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"

# --- Google Gemini API Key ---
GEMINI_API_KEY=

# --- Frontend Public API URL ---
NEXT_PUBLIC_API_URL=http://localhost:3333

